<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>

    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <style>
        .wrapper {
            position: absolute;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
        }

        .map-wrapper {
            margin: 3%;
            width: available;
        }
        .form-wrapper {
            margin: 3%;
            width: 200px;
        }
        </style>
    {% endblock %}
</head>
<body>



<div class="wrapper">

    <div class="form-wrapper">
        <form action="/" method ="post" enctype="multipart/form-data" id="form">
            {% if session["noise_map"] %}
                {% set height = session["noise_map"].height %}
                {% set width = session["noise_map"].width %}
                {% set scale = session["noise_map"].scale %}
                {% set x_offset = session["noise_map"].x_offset %}
                {% set y_offset = session["noise_map"].y_offset %}
            {% else %}
                {% set height = 80 %}
                {% set width = 80 %}
                {% set scale = 1 %}
                {% set x_offset = 0 %}
                {% set y_offset = 0 %}
            {% endif %}
        {#    FIXME: Seed is broken#}
        {#    <div class="mb-auto">#}
        {#        <label class="form-label">Seed:<input class="form-control" type="text" name="seed"></label>#}
        {#    </div>#}
            <div class="mb-auto">
                <label class="form-label" for="height_slide">Height:</label>
                <input class="form-control-range" id="height_slide" type="range" min="80" max="640" step="80" value="{{ height }}" name="height" oninput="this.nextElementSibling.value = this.value">
                <output>{{ height }}</output>
            </div>
            <div class="mb-auto">
                <label class="form-label" for="width_slide">Width:</label>
                <input class="form-control-range" id="width_slide" type="range" min="80" max="640" step="80" value="{{ width }}" name="width" oninput="this.nextElementSibling.value = this.value">
                <output>{{ width }}</output>
            </div>
            <div class="mb-auto">
                <label class="form-label" for="scale_slide">Scale:</label>
                <input class="form-control-range" id="scale_slide" type="range" min="1" max="200" step="1" value="{{ scale }}" name="scale" oninput="this.nextElementSibling.value = this.value">
                <output>{{ scale }}</output>
            </div>
            <div class="mb-auto">
                <label class="form-label" for="x_offset">X Offset:</label>
                <input class="form-control" id="x_offset" type="number" name="x_offset" value="{{ x_offset }}">
            </div>
            <div class="mb-auto">
                <label class="form-label" for="y_offset">Y Offset:</label>
                <input class="form-control" id="y_offset" type="number" name="y_offset" value="{{ y_offset }}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    <div class="map-wrapper">
        {% if img_data %}
            <img src="data:image/png;base64,{{ img_data }}" class="img noisemap" alt="Generated Map">
        {% endif %}
    </div>

</div>


    <!--- SCRIPTS --->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>